## **Dictionary Manipulation**

In [1]:
dic = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(dic)

{'Roll_no': '16/001', 'Name': 'Harry', 'Course': 'BTech'}

In [2]:
Dict = {x : x*2 for x in range(1,10)}
print(Dict)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

Accessing values

In [3]:
student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(f'student["Roll_no"] = {student["Roll_no"]}')
print(f'student["Name"] = {student["Name"]}')
print(f'student["Course"] = {student["Course"]}')

student["Roll_no"] = 16/001
student["Name"] = Harry
student["Course"] = BTech

Adding and Modifying an item in a dictionary

In [4]:
student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(f'student["Roll_no"] = {student["Roll_no"]}')
print(f'student["Name"] = {student["Name"]}')
print(f'student["Course"] = {student["Course"]}')
student["marks"] = 97
print(f'student["marks"] = {student["marks"]}')
print(f'student = {student}')

student["Roll_no"] = 16/001
student["Name"] = Harry
student["Course"] = BTech
student["marks"] = 97
student = {'Roll_no': '16/001', 'Name': 'Harry', 'Course': 'BTech', 'marks': 97}

Deleting items

In [5]:
student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(f'1  student["Roll_no"] = {student["Roll_no"]}')
print(f'2  student["Name"] = {student["Name"]}')
print(f'3  student["Course"] = {student["Course"]}')

del student["Course"]

print(f'4  student = {student}')

student.clear()

print(f'5  student = {student}')

del student

print(f'6  student = {student}')

1  student["Roll_no"] = 16/001
2  student["Name"] = Harry
3  student["Course"] = BTech
4  student = {'Roll_no': '16/001', 'Name': 'Harry'}
5  student = {}

NameError: name 'student' is not defined

In [6]:
student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(f'Student = {student}')
print(f"Name is  : {student.pop('Name')}")
print(f"Dictionary after popping Name is : {student}")
print(f"Name is  : {student.pop('Roll_no')}")
print(f"Dictionary after popping Roll_no is : {student}")
print(f"Name is  : {student.pop('Course')}")
print(f"Dictionary after popping Course is : {student}")

Student = {'Roll_no': '16/001', 'Name': 'Harry', 'Course': 'BTech'}
Name is  : Harry
Dictionary after popping Name is : {'Roll_no': '16/001', 'Course': 'BTech'}
Name is  : 16/001
Dictionary after popping Roll_no is : {'Course': 'BTech'}
Name is  : BTech
Dictionary after popping Course is : {}

In [7]:
Dict = {(1,2),([4,5,6])}
print(Dict)

TypeError: unhashable type: 'list'

program to check single key in a dictionary

In [ ]:
student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
if "Course" in student:print(f'Student = {student["Course"]}')

Sorting Items in a Dictionary

In [8]:
student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(sorted(student.keys()))

['Course', 'Name', 'Roll_no']

Looping over a Dictionary

In [9]:
student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print("keys",end=" ")
for key in student:
  print(key,end=' ')
print("\nvalues",end=" ")
for val in student.values():
  print(val,end=' ')
print("\nDictionary",end=" ")
for i,j in student.items():
  print('\t',i,j,end=' ')

keys Roll_no Name Course
values 16/001 Harry BTech
Dictionary 	 Roll_no 16/001 	 Name Harry 	 Course BTech

Nested Dictionary

In [10]:
Students = {
    'shiv':{'CS':'90','DS':'94','CSA':'86'},
    'Krish':{'CS':'67','DS':'85','CSA':'85'},
    'Sadhvi':{'CS':'80','DS':'76','CSA':'87'}
}

for keys,values in Students.items():
  print(keys,values)

shiv {'CS': '90', 'DS': '94', 'CSA': '86'}
Krish {'CS': '67', 'DS': '85', 'CSA': '85'}
Sadhvi {'CS': '80', 'DS': '76', 'CSA': '87'}

Built-in Dictionary funcitons and methods

In [11]:
#len(dict)

Students = {
    'shiv':{'CS':'90','DS':'94','CSA':'86'},
    'Krish':{'CS':'67','DS':'85','CSA':'85'},
    'Sadhvi':{'CS':'80','DS':'76','CSA':'87'}
}
len(Students)

3

In [12]:
#str(dict)

Students = {
    'shiv':{'CS':'90','DS':'94','CSA':'86'},
    'Krish':{'CS':'67','DS':'85','CSA':'85'},
    'Sadhvi':{'CS':'80','DS':'76','CSA':'87'}
}
str(Students)

"{'shiv': {'CS': '90', 'DS': '94', 'CSA': '86'}, 'Krish': {'CS': '67', 'DS': '85', 'CSA': '85'}, 'Sadhvi': {'CS': '80', 'DS': '76', 'CSA': '87'}}"

In [13]:
#Dict.clear()

Students = {
    'shiv':{'CS':'90','DS':'94','CSA':'86'},
    'Krish':{'CS':'67','DS':'85','CSA':'85'},
    'Sadhvi':{'CS':'80','DS':'76','CSA':'87'}
}
Students.clear()
print(Students)

{}

In [14]:
#Dict.copy()

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
Students2 = student.copy()
print('Copied dictionary',Students2)
student["Course"] = "Msc"
print('modified dictionary',student)

Copied dictionary {'Roll_no': '16/001', 'Name': 'Harry', 'Course': 'BTech'}
modified dictionary {'Roll_no': '16/001', 'Name': 'Harry', 'Course': 'Msc'}

In [15]:
#Dict.fromkeys(seq[,val])

student = ['CS','DS','CSA']
marks = dict.fromkeys(student,-1)
print(marks)

{'CS': -1, 'DS': -1, 'CSA': -1}

In [16]:
#Dict.git(key)

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(student.get('Name'))

Harry

In [17]:
#Dict.has_key(key)

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print("Course" in student)

True

In [18]:
#Dict.items()

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(student.items())

dict_items([('Roll_no', '16/001'), ('Name', 'Harry'), ('Course', 'BTech')])

In [19]:
#Dict.keys()

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(student.keys())

dict_keys(['Roll_no', 'Name', 'Course'])

In [20]:
#Dict.setdefault(key,value)

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
student.setdefault('marks',0)
print(student['Name'],'has got marks =',student.get("marks"))

Harry has got marks = 0

In [21]:
#Dict.update(dict2)

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
std_update = {'Marks':'90','Grade':'A'}

student.update(std_update)
print(student)

{'Roll_no': '16/001', 'Name': 'Harry', 'Course': 'BTech', 'Marks': '90', 'Grade': 'A'}

In [22]:
#Dict.values()

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print(student.values())

dict_values(['16/001', 'Harry', 'BTech'])

In [23]:
# in and not in

student = {'Roll_no':'16/001',"Name":'Harry','Course':'BTech'}
print('Name' in student)
print('Course' not in student)

True
False