# **List Maniputlation:**

**List can have elements that belong to different data types:**

In [1]:
alp_list = ['a','b','c','d','e']
word_list  = ['Good','Morning']
num_list = [1,2,3,4,5,6,7,8,9,10]
mix_list = [1,2,'a','b','good','morning']

print(
    alp_list,'\n',
    word_list,'\n',
    num_list,'\n',
    mix_list,)

['a', 'b', 'c', 'd', 'e']
 ['Good', 'Morning']
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 [1, 2, 'a', 'b', 'good', 'morning']

**Accesing the values in list:**

*seq = list[start,stop,step]*

In [2]:
num_list = [1,2,3,4,5,6,7,8,9,10]

print(f'num_list = {num_list}\n')


print(f'num_list[2:5] = {num_list[2:5]}\n')


print(f'num_list[::2] = {num_list[::2]}\n')


print(f'num_list[1::2] = {num_list[1::2]}\n')

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

num_list[2:5] = [3, 4, 5]

num_list[::2] = [1, 3, 5, 7, 9]

num_list[1::2] = [2, 4, 6, 8, 10]

*Updating the values in list*

In [3]:
num_list = [1,2,3,4,5,6,7,8,9,10]

print(f'num_list = {num_list}\n')
num_list[5]=100
print(f'num_list after putting 100 at index 5 is \n{num_list}\n')

num_list.append(200)
print(f'num_list after appending 200 in list is \n{num_list}\n')

del num_list[3]
print(f'num_list after deleting value at index 3 i.e. (4) is \n{num_list}\n')

num_list.remove(200)
print(f'num_list after removing value 200 from list is \n{num_list}\n')

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

num_list after putting 100 at index 5 is
[1, 2, 3, 4, 5, 100, 7, 8, 9, 10]

num_list after appending 200 in list is
[1, 2, 3, 4, 5, 100, 7, 8, 9, 10, 200]

num_list after deleting value at index 3 i.e. (4) is
[1, 2, 3, 5, 100, 7, 8, 9, 10, 200]

num_list after removing value 200 from list is
[1, 2, 3, 5, 100, 7, 8, 9, 10]

**Del Statement**

In [4]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del num_list[2:6]
print(num_list)

[1, 2, 7, 8, 9, 10]

In [5]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del num_list[:]
print(num_list)

[]

In [6]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del num_list
print(num_list)

NameError: name 'num_list' is not defined

**Nested List**

In [7]:
number = [1,9,11,13,15]
print('Original : ',number)
number[2] = [3,5,7]
print('After inserting another list, the updated list is :',number)

Original :  [1, 9, 11, 13, 15]
After inserting another list, the updated list is : [1, 9, [3, 5, 7], 13, 15]

In [8]:
list1 = [1,'a','abc',[2,3,4,5],8.9]

i=0
while i<(len(list1)):
    print('list1[',i,'] = ' ,list1[i])
    i+=1

list1[ 0 ] =  1
list1[ 1 ] =  a
list1[ 2 ] =  abc
list1[ 3 ] =  [2, 3, 4, 5]
list1[ 4 ] =  8.9

**Cloning list**

In [9]:
list_a = [1,2,3,4,5,6,7,8,9,10]
list_b = list_a

print('List_a = ',list_a)
print('List_b = ',list_b)

list_c = list_a[2:5]
print('List_c = ',list_c)

List_a =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List_b =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List_c =  [3, 4, 5]

**Basic List Operations**

In [10]:
#len
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

len(nlist)

10

In [11]:
#Concatenation

list_a = [0,1,2,3,4]
list_b = [5,6,7,8,9]

list_a+list_b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
#Repeation

list2=['hello','world']*2
list2

['hello', 'world', 'hello', 'world']

In [13]:
#in

'a' in ['a','e','i','o','u']

True

In [14]:
#not in

3 not in [0,2,4,6,8]

True

In [15]:
#max

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max(num_list)

10

In [16]:
#min

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
min(num_list)

1

In [17]:
#sum

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(num_list)

55

In [18]:
#all

num_list = [1, 2, 3, 4]
print('all(num_list) is',all(num_list),'\n') # True if all element are true

num_list1 = [0,1,2,3]
print('all(num_list1) is',all(num_list1)) # False if any element is 0

all(num_list) is True

all(num_list1) is False

In [19]:
#any

num_list = [1, 2, 3, 4, 5] # True if any element is true

print(any(num_list))

num_list1 = [0] # False if no element is true
print(any(num_list1))

True
False

In [20]:
del list

NameError: name 'list' is not defined

In [21]:
list1=list("Hello")
print(list1)

['H', 'e', 'l', 'l', 'o']

In [22]:
list1 = [3,4,1,2,7,8]
list2 = sorted(list1)
print(list2)

[1, 2, 3, 4, 7, 8]

**list Methods**

In [23]:
# append(obj)

list1 = [0,1,2,3,4]
list1.append(5)
list1

[0, 1, 2, 3, 4, 5]

In [24]:
#count(obj)

list1 = [0,1,1,2,3,4]
list1.count(1)

2

In [25]:
#index(obj)

list1 = [4,3,2,1,0]
list1.index(3)

1

In [26]:
#insert(index,obj)

list1=[1,2,3,4]
list1.insert(4,5)
list1

[1, 2, 3, 4, 5]

In [27]:
#pop(index)

list1=[1,2,3,4]
list1.pop(1)
list1

[1, 3, 4]

In [28]:
#remove(obj)

list1 = [1,2,3,4,5,6]
list1.remove(6)
list1

[1, 2, 3, 4, 5]

In [29]:
#sort()

list1 = [1,3,5,2,3,6]
list1.sort()
list1

[1, 2, 3, 3, 5, 6]

In [30]:
#list1.extend(list2)

list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

# Function Programming

**filter Function**

In [31]:
#filter(function,sequence)

def even(num):

    if (num % 2 == 0 or num % 4 ==0):
        return 1

evens = list(filter(even,range(2,22)))

print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
def divisible_5(num):

    if(num%5==0 or num%10==0):
        return 1

digit_5 = list(filter(divisible_5,range(1,100)))
digit_5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

**map Function**

In [33]:
#map(function,sequence)

def add_2(x):
    x+=2
    return x

num_list = [1,2,3,4,5,6]

print('Original list : ',num_list)

new_list = list(map(add_2,num_list))

print('Modified list : ',new_list)

Original list :  [1, 2, 3, 4, 5, 6]
Modified list :  [3, 4, 5, 6, 7, 8]

In [34]:
def add(x,y):
    return x+y

list1 = [1,2,3,4]
list2 = [5,6,7,8]
new_list = list(map(add,list1,list2))
print('list1 :',list1,"\nlist2 :",list2,'\nnew_list :',new_list)

list1 : [1, 2, 3, 4]
list2 : [5, 6, 7, 8]
new_list : [6, 8, 10, 12]

**reduce Fuction**

In [35]:
import functools #it contains reduce function i.e reduce()

def add(x,y):
    return x+y

num_list = [1,2,3,4,5]
print("Sum of values in list = ",functools.reduce(add,num_list))

Sum of values in list =  15