# **Tuple Manipulation**

In [1]:
tup1=()
print(tup1)

()

In [2]:
# tuple of single element

tup1 = (5)
print(tup1)

5

In [3]:
# tuple of integers

tup1=(1,2,3,4)
print(tup1)

(1, 2, 3, 4)

In [4]:
# tuple of characters

tup1=('a','b','c','d')
print(tup1)

('a', 'b', 'c', 'd')

In [5]:
# tuple of words

tup1=('abc','def','ghi')
print(tup1)

('abc', 'def', 'ghi')

In [6]:
# tuple of floats

tup1=(1.2,2.3,3.4,4.5)
print(tup1)

(1.2, 2.3, 3.4, 4.5)

In [7]:
# tuple of mix values

tup1=(1,'a','abc',2.3)
print(tup1)

(1, 'a', 'abc', 2.3)

In [8]:
# tuple of

tup=('a')
print(type(tup))

<class 'str'>

In [9]:
# we can make single element tuple with comma

tup=('a',)
print(type(tup))

<class 'tuple'>

**Accessing values in tuple**

In [10]:


tuple_1 = (1,2,3,4,5,6,7,8,9,10)

print(f'tuple_1[3:6] = {tuple_1[3:6]}')
print(f'tuple_1[:6] = {tuple_1[:6]}')
print(f'tuple_1[4:] = {tuple_1[4:]}')
print(f'tuple_1[:] = {tuple_1[:]}')

tuple_1[3:6] = (4, 5, 6)
tuple_1[:6] = (1, 2, 3, 4, 5, 6)
tuple_1[4:] = (5, 6, 7, 8, 9, 10)
tuple_1[:] = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**Updating tuple**

In [11]:
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
# items in tuple is immutable

tup1 = (1,2,3,4)
del tup1[2]
print(tup1)

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# an entire tuple can be deleted

tup1 = (1,2,3,4)
del tup1
print(tup1)

**Basic Tuple Operations**

In [13]:
# Length

a=(1,2,3,4,5,6)
len(a)

6

In [14]:
# Concatenation

(1,2)+(3,4)

(1, 2, 3, 4)

In [15]:
# Repetition

('repetition..'*2)

'repetition..repetition..'

In [16]:
# membership

5 in (1,2,3,4,5,6)

True

In [17]:
# iteration

for i in (1,2,3,4,5,6,7,8,9):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [18]:
# comparision

tup1 = (1,2)
tup2 = (3,4)
print(tup1<tup2)

True

In [19]:
# maximum

a = (8,6,4,5,3,7,2,1)
max(a)

8

In [20]:
# minimum

a = (8,6,4,5,3,7,2,1)
min(a)

1

In [21]:
# convert a sequence to tuple

hello = tuple('Hello')
print(hello)

num = tuple([1,2,3,4,5,6])
print(num)

('H', 'e', 'l', 'l', 'o')
(1, 2, 3, 4, 5, 6)

index() method

In [22]:
Tup = (1,2,3,4,5,6,7,8)
print(Tup.index(3))

2

count() method

In [23]:
tup = 'ajkdhfhadskfhkadhf'

print(f'a appears {tup.count("a")} times in {tup}')

a appears 3 times in ajkdhfhadskfhkadhf

zip() function

In [24]:
Tup = (1,2,3)
list1 = ['a','b','c']
print(list(zip(Tup,list1)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [25]:
Tup = (9,7,8,5,1,4,6,2,3,10)
print(sorted(Tup))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]